<h1>Hello {{title}}</h1>

<button (click) = clickbutton()>click</button>

<p> Valore typescript (binding bidirezionale):</p>


<input type="text" [(ngModel)] = "title">
<hr>
<h2>Agiunta di una nuova Persona</h2>
  <label>Name: </label>
  <input type="text" [(ngModel)] = "newPerson.name"><br>
  <label>Surname:</label>
  <input type="text" [(ngModel)] = "newPerson.surname"><br>
  <label>Age:</label>
  <input type="text" [(ngModel)] = "newPerson.age"><br>
  <button (click) = addPerson()>ok</button>

<hr>

<div *ngFor="let person of persone; let i = index" > 
  <hr>
  <p>{{person.name}}</p>
  <p>{{person.surname}}</p>
  <p>{{person.age}}</p>
  <button (click) = 'deletePerson(i)'>DELETE</button>
  <button (click) = 'modifyElementName(i)'>MODIFY</button>

</div>








